<mat-horizontal-stepper labelPosition="bottom">
  <mat-step>
    <ng-template matStepLabel>Hotel Info.</ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Owner Info.</ng-template></mat-step
  >
  <mat-step>
    <ng-template matStepLabel>Contact Person Info.</ng-template></mat-step
  >
  <mat-step>
    <ng-template matStepLabel>Location Info.</ng-template></mat-step
  >
  <mat-step>
    <ng-template matStepLabel>Payment Info.</ng-template></mat-step
  >
</mat-horizontal-stepper>
